a {
  color: #002559;
}

a:hover {
  color: #71b131;
}
.i-con {
  color: #002559;
}
.i-con:hover {
  color: #71b131;
}
.over-lay {
  background-color: #002559;
}
h1 {
  color: #71b131;
}
h4 {
  color: #002559;
}
.silder {
  background-image: url("./assect/image/bg_memphis_2.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
  height: 500px;
  width: 100%;
  position: relative;
  background-color: #e8eae9;
}
.footer-slider{
  background-image: url("./assect/image/adult-office-workers-shaking-hands-in-crowded-hall.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
  height: 500px;
  width: 100%;
  position: relative;

}
.home-slider{
background-image: url("./assect/image/business-executives-shaking-hands-outdoor-in-front-of-office-building-.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
  height: 500px;
  width: 100%;
  position: relative;
}